body {
    margin: 0;
    background-color: #FFF8E8;
    color: #674636;
}

nav {
    background-color: #F7EED3;
    font-size: larger;

    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #F7EED3;
    font-size: larger;

    display: flex;
    justify-content: center;
}

.splash h1{
    font-family: "Abril Fatface", serif;
    font-size: 40px;
    background-color: #AAB396;
    color: #38261d;
}

.splash img {
    border-radius: 15px;
    border: 5px solid #38261d;
}


.splash .address{
    font-size: 20px;
    color: #38261d;
    
}

.splash .tag {
    color: #38261d;
}

hr {
    border-style: none;
    border-top: 8px dotted #616a4b;
    width: 30%;
    margin: 30px auto;
}

section h2 {
    font-family: "Abril Fatface", serif;
    color: #38261d;
}

.school {
    font-size: larger;
    color: #38261d;
    margin-top: 5px;
    margin-bottom: 5px;
}

.majors {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #38261d;
}

.education {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    list-style-type: square;
}

dl {
    display: grid;
    grid-template-columns: 50% 50%;
}

a {
    color: #5a751a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    box-shadow: 0 5px 8px 0 #674636;
    color: #9bcd30;
    border-radius: 10px;
}

h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

.three-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    padding: 2px 16px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 #737a67;
    background-color: #AAB396;
    color: #38261d;
    outline: 2px dashed #38261d;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
    width: 90%;
}

.card:hover {
    box-shadow: 0 15px 20px 0 #38261d;
}

.one-col {
    display: flex; 
    flex-direction: column;
    
}

textarea {
    width: 50%;
    height: 100px;
    background-color: #fefcf7;
    border-radius: 10px;
    border: 2px solid;
    border-color: #674636;
}

.submit {
    background-color: #AAB396;
    width: 100px;
    font-family: "Abril Fatface", serif;
    font-size: 15px;
    color: #674636;
    
}

.submit:hover {
    box-shadow: 0 5px 10px 0 #38261d;
}

input {
    border-radius: 5px;
    border-color: #674636;
    background-color: #fefcf7;
}

.title h1{
    font-family: "Abril Fatface", serif;
    color: #38261d;
}

.title p {
    font-size: large;
}